/* El footer completo*/
#footer_principal{
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    background-color: #444;
    height: 250px;
    z-index: 4;
    background-image: url('../img/fondo.png'); 
}
.botones_estandares{
    background:  url('../img/ok.png') transparent no-repeat left 50px ;
    background-position: 5px;
    color: #666;
    font-weight: 800;
    text-align: center;
    padding: 5px 0px 5px 0px;
    border: #666 solid 2px;
    border-radius: 10px;
    margin: 5px;
    width: 90px;
}