/* El panel estático completo*/
#header-panel{
    position:fixed;
    top:0;
    width: 100%;
    background-color: #444;
    height: 40px;
    z-index: 4;
    background-image: url('../img/fondo.png'); 
}
/*La pestaña de la derecha que guarda la acción*/
#login_registro{
    position: absolute;
    right: 70px;
    width: 150px;
    height: 20px;
    padding:10px;
    background-color:#222;
    color: #fff;
}
/*El logo, alojado a la izquierda*/
#logo_sinexiones{
    position: absolute;
    left:180px;
    height: 40px;
    width: 40px;
    background-image: url('../img/logopng40.png'); 
}
#login{
    display:none;
    position:absolute;
    top:40px;
    width: 150px;
    right:70px;
    padding: 10px;
    background-color: #fdfdfd;
    border-radius: 5px;
    border: 1px #EEE solid;
    box-shadow: 0px 7px 15px 1px #BBB;
}
#login input[type=text],#login input[type=password] {
    border-radius: 5px;
    width: 140px;
    margin-bottom: 3px;
    height: 20px;
    border: 1px solid #CCC;
}
#loguearse{
    width: 142px;
    background: #ffca2f;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0px 1px 3px #f1ca2f inset, 0px 0px 8px #5eca2f inset;
    font-weight: 700;
    color: #555;
}
a{
    font-size:83%;
    color:#444;
}