@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    margin:0;
    font-family:'Lato', sans-serif;
    font-size: 1.2em;
    background:#ddd;
    color: #999;
}
li{
    list-style-type: decimal;
}
#contenedor{
    margin:40px;
    padding:20px;
    border-radius: 15px;
    border:rgba(47, 44, 44, 0.1) solid 2px;
    background: #f8f8f8;
}
h1{
    text-align: center;
    text-shadow: 0px 1px 10px #fff;
}
.listo{
    text-decoration:line-through;
    color:#ccc;
}