
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 98%
}
h1{
    
    font-size: 150%;
    padding-bottom: 20px;
}
.invalido{
    background:#EFEFEF;
}
.valido{
    background:#FFF;
}
#contenedor_registro{
    margin-top: 5px;
    position: relative;
    width: 800px;
    height: auto;//450px;
    padding: 50px;
    padding-top: 20px;
    border-radius: 20px;
    border: 1px #EEE solid;
    box-shadow: 0px 0px 15px 1px #BBB;
    margin-left: -400px;
    left: 50%;
    

}
fieldset{
    border:none;
}

#enviar{
    margin-left: 10%;
    width: 302px;
    height: 30px;
    background: #ffca2f;
    border-radius: 5px;
    border: 1px #ffca2f solid;
    box-shadow: 0px 1px 3px #f1ca2f inset, 0px 0px 8px #5eca2f inset;
    font-size: 120%;
    font-weight: 700;
    color: #333;
    clear: both;
}

.entrada_registro{
    float:left;
    height: 25px;
    width: 300px;
    margin: 0 0 15px 10%;
    border: 1px solid #CCC;
    border-radius: 3px;
    color: #888;
    clear: both;
}
.entrada_registro:focus{
    border-color: DarkKhaki;
    -webkit-box-shadow: 0 0 10px khaki;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.047), 0px 0px 8px rgba(82, 168, 236, 0.600);


}
.mensaje{
    float:left;
    right:  0px;
    height: 25px;
    width: 300px;
    margin: 0 0 15px 0;
    border: 1px solid #FFF;
    border-radius: 3px;
    font-size: 87%;
}


#enviar:hover,#enviar:focus{
    background: #ffdb3f;
    color: #444;
}

.radio{
    float:left;
    height: 25px;
    width: 300px;
    margin: 0 0 15px 10%;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #888;
    display: inline-block;
}

.fieldset{
    border: 1px solid #ddd;
    margin: 10px;
}

