@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
/*Espacio para el logo, de momento una fuente medio chusca*/
#logo{
    float:left;
    margin-top:15px;
    margin-left: 7%;
    font-size: 400%;
    font-weight: 700;
    font-family: monospace;
    color:#333;
}
#logo img{
    margin-bottom: -15px;
}
/*Posiciona la barra de navegación con el menú*/
#header_principal nav{
    float:right;
    right: 0px;
    bottom: 0px;
}
/*texto de vínculos*/
header a{
    text-decoration: none;
    color: #333;
    font-size: 110%;
    font-weight: 700;
    text-shadow: 2px 0px 3px #bbb;
}
/*Botones*/
#header_principal li{
    list-style: none;
    display: block;
    float: left;
    padding: 40px 30px 39px 30px;
}
#header_principal li:hover{
    box-shadow: 1px 0px 10px #ccc;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}
/*Cuando pasa por un botón, se activa un efecto
que muestra un borde, sombra, cambia el color
con una transición*/
#header_principal li:hover a{
    padding:1px 0 25px 0;
    padding-top: 3px;
    border-bottom: rgba(220,220,220,0.4) 2px solid;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    color:#111;
    text-shadow: none;
}


