/*Css que define el layout de la página
*/
/*Reset de margenes y rellenos*/
*{
    padding: 0;
    margin: 0;
    font-family:'Lato', sans-serif;
}

/*Div que contiene el contenido de la página*/
#contenedor_principal{
    position: relative;
    top: 110px;
    width: 80%; 
    height: auto;
    margin: 0 auto;
}
/*Header fijo en todas las páginas*/
#header_principal{
    position:fixed;
    top:0;
    width: 100%;
    height: 100px;
    background: rgba(255,255,255,0.9  );
    z-index: 1;
    box-shadow: 0px 0px 15px 1px #ddd;
}
/*Footer*/
#footer_principal{
    top:110px;
    position: relative;
    width: 100%;
    height: 200px;
    background: #333;
    clear: both;
}
body{
    background: #e;
}