/*Div que contiene el formulario*/
#contenedor_registro{
    position: relative;
    width: 800px;
    background: #fff;
    margin: 10px;
    padding: 40px 20px 20px 40px;
    border-radius: 20px;
    border: 1px #EEE solid;
    box-shadow: 0px 0px 10px 1px #aaa;
    margin-left: -400px;
    left: 50%;
}
/*Hace transparente el fieldset*/
fieldset{
    border:none;
    padding: 15px;
}
/*Define el título del formulario a mostrar*/
h1{
    font-size: 150%;
    padding-bottom: 20px;
}

.caja,.label_caja,#contenedor_radios{    
    float:left;    
    color: #333;
    clear: both;
}
/*Define propiedades fisicas de elementos del formulario
(tamaño y forma)*/
.caja , #contenedor_radios{
    font-size: 110%;
    height: 40px;
    width: 400px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-bottom: 10px;
}
/*Muestra el texto centrado*/
#contenedor_radios{
    text-align: center;
    height: auto;
}
/*Oculta los radio buttons reales*/
.radio{
    display: none;
}
/*Define el aspecto de un botón pulsado*/
.radio:checked + .label_radio, #enviar:active{
    background: #eee;
    box-shadow: 1px 1px 2px #777 inset;
}
/*Define el tamaño de cada toggle button*/
.label_radio{
    padding: 9px 0 9px 0;
    width: 200px;  
    float:left;
}
#enviar, .label_radio{
    background:#fff;
    box-shadow: -1px -1px 5px #aaa inset;
}

#enviar:hover,.label_radio:hover{
    box-shadow: -1px -1px 5px #ccc inset;
    background: #fefefe;
}

.mensaje{
    float:left;
    padding:10px;
}

/*----------------Por revisar-------------------*/

/*
.entrada_registro:focus, input[type="text"]:focus,input[type="email"]:focus{
    border-color: DarkKhaki;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.047), 0px 0px 8px rgba(82, 168, 236, 0.600);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.047), 0px 0px 8px rgba(82, 168, 236, 0.600);
}
#enviar:hover,#enviar:focus{
    background: #ffdb3f;
    color: #444;
}
.radio{
    float:left;
    height: 25px;
    width: 300px;
    margin: 0 0 15px 10%;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #888;
    display: inline-block;
}
.invalido{
    background:#EFEFEF;
}
.valido{
    background:#FFF;
}
.mensaje{
    float:left;
    right:  0px;
    height: 25px;
    width: 300px;
    margin: 0 0 15px 0;
    border: 1px solid #FFF;
    border-radius: 3px;
    font-size: 87%;
}

*/